---
layout: default
---

<div class="home">
  <h1 class="page-heading">All Items</h1>
  <p id="itemSearch" class="search-bar">
    <span class="fa fa-search icon"></span>
    <input type="search" class="jetsSearch" id="jetsSearch" placeholder="Search by name">
  </p>
  <p id="tagSearch" class="search-bar">
    <span class="fa fa-search icon"></span>
    <input type="search" name="tagSearch" id="tagSearchBar" class="jetsSearch" placeholder="Search by tag">
  </p>
  <!-- <p id="sourceSearch">Search by source: <input type="search" name="sourceSearch" id="sourceSearchBar" class="jetsSearch"></p> -->
  <p>
    <dl class="tag-list">
      <dt>Slot:</dt>
      {% for slot in site.data.slots %}
      <dd>
        <a href="{{site.baseurl}}/tags/{{slot.tag}}">{{slot.name}}</a>
      </dd>
      {% endfor %}
    </dl>
  </p>
  <dl class="tag-list">
    <dt>Rarity:</dt>
    {% for rarity in site.data.rarities %}
    <dd>
      <a href="#{{rarity.tag}}">{{rarity.name}}</a>
    </dd>
    {% endfor %}
  </dl>
  {% for rarity in site.data.rarities %}
    <a id="{{rarity.tag}}"></a>
    <h2 class="post-list-head jetsHide">{{rarity.name}}</h2>
    <ul class="post-list jetsContent">
      {% assign item_list = site.items | where: 'tags', rarity.tag %}
      {% for item in item_list %}
        <li data-tags="{{ item.tags | join: ',' }}" data-sources="{{ item.sources | join: ',' }}">
          <a class="post-link" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <a class="post-meta jetsHide" href="#top">Back to top &#8593;</a>
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

